
<h2><%= lifestyle.name %></h2>
<p><%= lifestyle.price %> $/day</p>


<% results.each do |result| %>
        <%= link_to lifestyle_path(result) do %>
          <div class="card-category" data-id="<%= result.id%>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path result.photo, height: 300, width: 400, crop: :fill %>')">
            <p><%= result.name %></p>
            <br>
            <span class="price_tag"><%= "$#{result.price}/day"%></span>
          </div>
        <% end %>
        <br>
      <% end %>
