
<h1 class="lifestyle_title">Pick a Lifestyle</h1>


<div style="display:flex; align-items: center;">
  <div><%= form_tag lifestyles_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a lifestyle"
  %>

  </div>
  <div>  <%= submit_tag "Search", class: "search-button btn btn-primary" %></div>
<% end %>

</div>



<div class="box">
  <div class="cards">
    <% @lifestyles.each do |lifestyle| %>
      <%= link_to lifestyle_path(lifestyle) do %>
        <div class="card-category" data-id="<%= lifestyle.id%>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path lifestyle.photo, height: 300, width: 400, crop: :fill %>')">
          <p><%= lifestyle.name %></p>
          <br>
          <span class="price_tag"><%= "$#{lifestyle.price}/day"%></span>
        </div>
      <% end %>
      <br>
    <% end %>
    <br>
  </div>

  <div
  id="map"
  class="sticky-top !important"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</div>




