<h1>New lifestyle</h1>

<%= simple_form_for(@lifestyle) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit "add a lifestyle", class: "btn btn-primary" %>
<% end %>
