<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>New Lifestyle</h1>

      <%= simple_form_for(@lifestyle) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.submit "Add Lifestyle", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
