
<div class="card-trip">
  <%= cl_image_tag @lifestyle.photo, height: 300, width: 400, crop: :fill, class: "lifestyle-pic" %>
    <p class="wishlist-icon"><i class="far fa-heart"></i></p>
    <div class="card-trip-infos">
      <div>
        <h1><%= @lifestyle.name %></h1>
        <span class="decrpt"><%= @lifestyle.description %></span>
      </div>
        <h2 class="card-trip-pricing"><%= "Price: $#{@lifestyle.price}" %></h2>
        <img src= "<%= @lifestyle.user.photo %>" class="card-trip-user avatar-bordered" />

     </div>
  <%=link_to "Rent Now" , new_lifestyle_booking_path(@lifestyle), class:"btn btn-primary" %>
  <%= link_to "Back to Lifestyles", lifestyles_path, class: "btn btn-info" %>
</div>
<div class="review-table">
 <% if @reviews%>
 <h3>Reviews :</h3>
 <ul>
<% @reviews.each do |review| %>
  <li><%=review.comment %></li>
  <% end %>
</ul>
<% end %>
</div>
<%= link_to "Leave Comment" , new_lifestyle_review_path(@lifestyle)%>

