
<div class="card-trip">
  <!-- <%= image_tag current_user.photo, dashboard_path(@lifestyle.user) %> -->
    <div class="card-trip-infos">
      <div>
        <h1><%= @lifestyle.name %></h1>
        <span class="decrpt"><%= @lifestyle.description %></span>
      </div>
        <h2 class="card-trip-pricing"><%= "Price: $#{@lifestyle.price}" %></h2>
        <img src= "<%= @lifestyle.user.photo %>" class="card-trip-user avatar-bordered" />

     </div>
  <%=link_to "Rent Now" , new_lifestyle_booking_path(@lifestyle), class:"btn btn-primary" %>
  <%= link_to "Back to Lifestyles", lifestyles_path, class: "btn btn-info" %>
</div>
