
<div class="card-trip">
  <%= cl_image_tag @lifestyle.photo%>
  <div class="card-info-all">
  <p class="wishlist-icon"><i class="far fa-heart"></i></p>
    <div class="card-trip-infos">
         <div>
           <h1><%= @lifestyle.name %></h1>
           <span class="description"><%= @lifestyle.description %></span>
         </div>
           <h2 class="card-trip-pricing"><%= "Price: $#{@lifestyle.price}/day" %></h2>
           <img src= "<%= @lifestyle.user.photo %>" class="card-trip-user avatar-bordered" />
       </div>
     <%=link_to "Rent Now", new_lifestyle_booking_path(@lifestyle), class:"btn btn-primary" %>
     <%= link_to "Back to Lifestyles", lifestyles_path, class: "btn btn-info" %>
  </div>
</div>
<br>
<h2 style="text-align: center;">Reviews:</h2>
       <div class="review" style="border: 20px;">
      <ul id="reviews">
        <% @lifestyle.reviews.each do |review| %>
          <%= render "reviews/show", review: review %>

        <% end %>
      </ul>
          </div>
<div id= "reviews-form">
<%= render 'reviews/form', lifestyle: @lifestyle, review: @review %>
</div>
