
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h4>For how long would you like to be a <%= @lifestyle.name %>?</h4>
      <%= simple_form_for [@booking] do |f| %>
        <%= f.input :start_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
        <%= f.input :end_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true  %>
        <h4>Send a message to <%= @lifestyle.user.first_name %>, you may or may not be accepted accordingly.</h4>
        <%= f.input :message %>
        <p>  <span>$</span> <span id ="richard"> <%= @lifestyle.price %></span> </p>
        <p id="total_price"></p>
        <%= f.hidden_field :lifestyle_id, value: @lifestyle.id %>
        <%= f.submit "Send Booking Request", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const getPrice = () => {
  const start = document.getElementById('booking_start_date').value;
  const end = document.getElementById('booking_end_date').value;
  const one = new Date(start)
  const last = new Date(end)
  const period = (last - one)/1000/60/60/24
  let price = document.querySelector("#richard").innerText
  price = parseInt(price,10)
  const total = period * price
  console.log(total, start,end,price,period)
  const total_price = document.getElementById('total_price');

  if (period * 1 !== period ) {
   total_price.innerHTML= "0"
  } else {
    total_price.innerHTML= total
  }


};

const end = document.getElementById('new_booking');
end.addEventListener("change",getPrice)

</script>
