<!-- we get the bookings from db -->
<% bookings_dates = [] %>
<!-- convert to hash -->
<% @lifestyle.bookings.each do |b| %>
  <% booking = {} %>
  <% booking["start_date"] = b.start_date%>
  <% booking["end_date"] = b.end_date %>
  <% bookings_dates.push(booking.to_a) %>
<% end %>
<br>
<% bookings_dates = bookings_dates.to_json %>
<% bookings_dates = JSON.parse(bookings_dates)%>
<!-- we will  have something like: [[["start_date", "2019-08-24"], ["end_date", "2019-08-29"]], [["start_date", "2019-08-31"], ["end_date", "2019-09-01"]]]-->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 bookcard">
      <h4>For how long would you like to be a <%= @lifestyle.name %>?</h4>
      <!-- value and min used to set date to today and make all previous dates unclickibale -->
      <%= simple_form_for [@booking] do |f| %>
        <%= f.input :start_date, :label => 'Start Date:', input_html: {value: Date.today.to_s, min: Date.today.to_s}, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
        <%= f.input :end_date, :label => 'End Date:', as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true , input_html: {"min" => Date.today.to_s} %>
        <h4>Send a message to <%= @lifestyle.user.first_name %>, you may or may not be accepted accordingly.</h4>
        <!-- this line to display the current lifestyle price per day -->
        <p style="font-size: 24px;"> Price: <span>$
        </span>
           <span id ="richard"> <%= @lifestyle.price %></span> </p>
        <!-- this line to display the total (period*price) price -->
         <h3>Total Price: $<span id = "total_price"></span> ;-)</h1>
        <!-- this line is just a hidden file to send lifestyle_id to the new page -->
         <%= f.hidden_field :lifestyle_id, value: @lifestyle.id %>
        <%= f.input :message, :label => 'Message:' %>
        <p>
        <!-- this line to pass the bookings dates from above to be query selected by js -->
        <input type="hidden" id = "here" value="<%= bookings_dates%>">
        <!-- this is to display the availaibility of a lifestyle for a specific period -->
        <p>  <span id ="av"> Status:</span> </p>
        <%= f.submit "Send Booking Request", class: "btn btn-primary" %>
        <%= link_to "Cancel", lifestyle_path(@lifestyle), class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const getPrice = () => {
  const start = document.getElementById('booking_start_date').value;
  const end = document.getElementById('booking_end_date').value;
  const one = new Date(start)
  const last = new Date(end)
  const period = (last - one)/1000/60/60/24
  let price = document.querySelector("#richard").innerText
  price = parseInt(price,10)
  const total = period * price
  const total_price = document.getElementById('total_price')
  if (period * 1 !== period ) {
   total_price.innerHTML= "0"
  } else {
    total_price.innerHTML= total
  }

const bo = document.getElementById('here')
let bookings = bo.value
// this line convert the string got to json object
bookings = JSON.parse(bookings)
let availability = true
// iterate over the json object
Object.keys(bookings).map(booking =>{
  if (start <= bookings[booking][0][1] && bookings[booking][0][1] <= end ||
        start <= bookings[booking][1][1] && bookings[booking][1][1] <= end
         || bookings[booking][0][1]<= start && end <= bookings[booking][1][1])
  {
    availability = false
  }
  let available = document.querySelector("#av")
if (availability === true) {

      available.innerHTML = "the lifestyle is available"
} else {
    available.innerHTML = "the lifestyle is not  available"
}
});
};

const end = document.getElementById('new_booking');
end.addEventListener("change",getPrice)
</script>

