<div class="flex-profile">
  <div class="useravatar"><%= cl_image_tag(current_user.photo)%>
  </div>
  <div>
    <h2 style="margin-bottom: 24px">Hello, <%= current_user.first_name %> <%= current_user.last_name %>
    </h2>
    <p style="text-align:left;"><%=current_user.email%> - joined in 2019</p>
    <% if current_user.lifestyles.length >= 1 %>
      <p style="text-align:left;">Your Lifestyle: <a href="#" class=""><%= current_user.lifestyles.first.name %></a>
      </p>
    <% end %>
  </div>
</div>




  <div>
    <ul class="list-inline tabs-underlined">
      <% if @pending_bookings != [] %>

        <li>
          <a href="#" class="tab-underlined">Your Pending Clients</a>
          <ul>

            <% @pending_bookings.each do |booking| %>


              <p><%= booking.status %></p>
              <li>Book request by <%= link_to "#{booking.user.first_name} #{booking.user.last_name}", dashboard_path(booking.user)%>
                <br>
                From <%= booking.start_date %> to <%=booking.end_date%>
                <br>
                Message: <%= booking.message %>
                <br>
                <%= link_to "accept",booking_path(booking, {booking: {status: "accepted"}}), method: :patch %> <%= link_to "refuse",booking_path(booking, {booking: {status: "refused"}}), method: :patch %>
                <br>
                Status: <%= booking.status %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>


      <% if @accepted_bookings != [] %>
        <li>
          <a href="#" class="tab-underlined">Your Clients</a>
          <ul>
            <% @accepted_bookings.each do |booking| %>
              <li>Book request by <%= link_to "#{booking.user.first_name} #{booking.user.last_name}", dashboard_path(booking.user)%>
                <br>
                From <%= booking.start_date %> to <%=booking.end_date%>
                <br>
                Message: <%= booking.message %>
                <br>
                <%= link_to "accept",booking_path(booking, {booking: {status: "accepted"}}), method: :patch %> <%= link_to "refuse",booking_path(booking, {booking: {status: "refused"}}), method: :patch %>
                <br>
                Status: <%= booking.status %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if @bookings_i_made != [] %>
        <li>
          <a href="#" class="tab-underlined">Your Bookings</a>
          <ul>
            <% @bookings_i_made.each do |booking| %>
              <li><%= link_to "#{booking.lifestyle.name}", lifestyle_path(booking.lifestyle)%> <br> from <%= booking.start_date %> to <%=booking.end_date%>, request : <%= booking.status %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>


